body{
    min-height:100vh;
    background-color:rgb(38, 46, 110) ;
    color:white;
    /* display: none; */
}
main{
    display: flex;
    justify-content: center;
    padding: 8rem;
}
.loginForm{
    height: 60%;
    width:40%;
    border:8px solid white;
    background-color: rgba(68, 100, 116, 0.443);
    border-radius: 16px;
    padding: 0.5rem;   
}
.type{
    width:90%;
    padding:0.5rem;
    border:0;
    background: transparent;
    border-bottom: 2px solid white;
    color:white;
    outline: 0;
    font-weight: bold;
}
input::-webkit-input-placeholder{
    color: white;
    
}
.button{
    margin: 0.5rem;  
}
section{
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    justify-content: left;
    padding: 8rem;
}
form{
    border:2px solid white;
    background-color: rgba(68, 100, 116, 0.443);
    border-radius: 16px;
    padding: 0.5rem; 

}
table td+td {
    border-left: 2px solid black;
    padding: 1rem;
}
table,
tr,
th {
    text-align: center;
    padding: 1rem;
    margin-right: 1rem;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}




